html, body, .App {
    height: 100vh;
    background: #eee;
    padding: 1em;
}

.plus-sign:hover, .channels:hover {
    color: white;
    cursor: pointer;
}

.messages {
    height: 62vh;
    overflow-y: scroll;
}

.message__form {
    position: fixed !important;
    bottom: 1em;
    margin-left: 320px !important;
    left: 0;
    right: 1em;
    z-index: 200;
}

.message__self {
    border-left: 2px solid orange;
    padding-left: 8px;
}
